@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;500&display=swap');

:root{
    // Primary
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);

    // Neutral
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);

    // Font
    --Default-font: 'Barlow Semi Condensed', sans-serif;
}

body{
    background-color: var(--Light-grayish-blue);
    font-family: var(--Default-font) ;
  
}

.total{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: row;

}

.row{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 0;

}

.side-left{
    display: flex;
    flex-direction: column;
    max-width: 75%;
    justify-content: center;
    align-items: center;
}

.kira-special{
    display: flex;
    flex: 25%;
    align-items: center;
    max-width: auto;
  
   
    
}

.box-profile{
    margin: 10px;

}

.daniel{
    background-color: var(--Moderate-violet);
    padding: 30px;
  
    border-radius: 10px;
    max-width: auto;
    color: white;
    z-index: 0;

    .quotation{
        position: absolute;
        display: block;
        z-index: -1;
        margin-top: -21%;
        margin-left: 25%;
    }
}
.jonathan{
    background-color: var(--Very-dark-grayish-blue);
    padding: 30px;
    border-radius: 10px;
    max-width: auto;
    color: white;
}

.jeanette{
    background-color: white;
    padding: 30px;
    padding-bottom: 0;
    border-radius: 10px;
    max-width: auto;
    color: black;
    order: 1;
}
.patrick{
    background-color: var(--Very-dark-blackish-blue);
    padding: 30px;
    border-radius: 10px;
    max-width: auto;
    color: white;
    order: 2;
}

.kira{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    color: black;
    margin-left: -30px;
    max-width: 60%;
}

.profile{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -10px;

    .profile-side-left{
        img{
            border-radius: 50%;
            border: 2px solid var(--Light-gray);
            max-width: 60%;
            
        }
    }

    .profile-side-right{
        margin-left: -10px;

        .name{
           
            margin-bottom: -10px;
        }
        .verified{
         
            opacity: 50%;
            font-size: 13px;
        }
    }
    
}

.desc-down{
    font-size: 13px;
    opacity: 70%;
    margin-top: 15px;
}


@media only screen and (max-width: 600px){

    .total{
        flex-direction: column;
        flex: 100%;
        justify-content: center;
        align-items: center;
    
    }

    .daniel{
        margin-top: 50px;
    }

    .row{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0;
    
    }

    .kira-special{
        justify-content: center; 
    }

    .kira{
        margin-left: 10px;
        max-width: 50%;
        margin-bottom: 50px;
    }

    .daniel{

        .quotation{
            position: absolute;
            display: block;
            z-index: -1;
            margin-top: -80%;
            margin-left: 30%;
            
        }
    }
   


}